QPushButton, QToolButton {
  border-width: 1px;
  border-radius: 0.5em;
  border-style: solid;
  border-color: #652b2b;
  min-width: 5em;
  min-height: 1em;
  padding: 6px;
  background-color: #ac4a4a;
  color: #222222; }

QPushButton:hover, QToolButton:hover {
  background-color: #b95c5c;
  border-radius: 10px; }

QPushButton:pressed, QToolButton:pressed {
  background-color: #974141;
  border-radius: 10px; }

QPushButton:checked, QToolButton:checked {
  border: none; }

QPushButton:disabled, QToolButton:disabled {
  color: #767676; }
