QPushButton, QToolButton {
  border: 0;
  background: transparent;
  padding: 2px; }

QPushButton:hover, QToolButton:hover {
  background-color: #b95c5c;
  border-radius: 2px; }

QPushButton:pressed, QToolButton:pressed {
  background-color: #974141;
  border-radius: 2px; }

QPushButton:checked, QToolButton:checked {
  background-color: #974141;
  border: none; }
