QMenuBar {
  background-color: #ac4a4a;
  color: #222222; }

QMenuBar::item {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em; }

QMenuBar::item:selected {
  /* when selected using mouse or keyboard */
  background: #b95c5c; }

QMenuBar::item:pressed {
  background: #974141; }

QMenuBar::item:disabled {
  color: #767676; }

QToolButton {
  background-color: transparent;
  border: none;
  color: #767676; }

QToolButton::hover {
  background-color: #b95c5c; }

QToolButton::pressed {
  background-color: #974141; }
